.container-fluid {
    height: 100px;


}

/*image left handside*/
.logoImg {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
}

/*image left handside*/
/*change width and height to % so that page is reponsive for mobile*/
.logoImg img {
    width: 150px;
    height: 100px;
    margin-right: 10px;    
}

/*southpark written logo*/
 #banner {
    margin-left: 50px;
    width: 50%;
    height: 50%;
    border: solid 1px red;
}

