.container-fluid {
    width:5%;
}

/*image left handside*/
.logoImg {
    display: flex;
    flex-direction: row;
}

/*image left handside*/
/*change width and height to % so that page is reponsive for mobile*/
.logoImg img {
    width: 150px;
    height: 100px;
    margin-right: 10px;    
}

/*southpark written logo*/
#banner {
    margin-left: 50px;
    width: 50%;
    height: 50%;
}

.jumbotron {
    background-image: url(../pictures/fact-page-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    position: absolute;
    top: 50%;
    left: 50%;
}

#cartman {
    border:solid 1px red;
    width: 20vh;
    max-height: 25%;
}

.bg-image{
    background-image: url(../pictures/fact-page-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    max-width: 100%;
}