/*------------Nav Bar, Header Font, Footer will be the SAME for all pages-------------*/

/*-----------HOME PAGE------------*/


/*----Nav Bar----*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----come back to this for media screen----*/
body {
    background-image: url('./south-park-25th-anniversay-081222-1bc607f6291e4e1c91e31da1034de47a.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200% 100%;
    background-position: center;
    /* background: rgba(223, 223, 223, 0.959); */
    /* opacity: 0.2; */
    font-family: cursive;
    }

/*navbar background*/
.bg-light {
    background-color: #765B49 !important;
}

.navbar-toggler {
    margin-top: -40px;
}

/* .navbar-brand {
    height: 20px;
}
     */

.navbar-brand {
    margin-right: 0;
}

/*SP Logo left in navbar*/
.logoImg {
    position: absolute;
    margin-left: 50px;
    /* border: solid 1px red; */
}

/*SP Logo left in navbar*/
.logoImg img {
    width: 135px;
    height: 85px;
    margin-right: 10px;
}

/*SP written logo*/
 #banner {
    float: right;
    margin-top: 15px;
    width: 60%; /*55*/
    height: 60%;
    /* border: solid 1px red; */
}

/*----Header----*/
a {
    font-display: bold;
    color: black !important;
}

.AllHeaders {
    color: #E16907;
    text-align: center;
    font-display: bold; 
}

.h1, h1 {
    font-size: 1.9rem;
    margin-top: 5px;  
    
}

/*----Home page info----*/

/*----container----*/
.InfoCard {
    margin-top: 15px;
    margin-bottom: 15px;

}

.card-body {
    padding-bottom: 0px;
    
    
}

/*----responsive card----*/
.card {
    background: #E16907;
    
}


/* .Infocontainer {
    margin-top: 35px;  */
    /* margin-left: 200px; */
    /* margin-bottom: -40px; */
    /* background: #FDAF01; */
    /* background: linear-gradient(90deg, rgba(9,108,155,1) 0%, rgba(9,108,155,1) 100%); */
 /* } */

/*----Trailer link----*/

/*----Footer----*/



@media screen and (max-width: 480px) {
    .navbar, .navbar-expand-lg, .navbar-light, .bg-light, .navbar-brand {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    }


    /* @media screen and (max-width: 1000px) {
        a {

            font-display: bold;
            color: black;
        }
    } */

    /* @media screen and (max-width: 1024px) {
        .navbar, .navbar-expand-lg, .navbar-light, .bg-light, .navbar-brand {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }

        #banner {
            /* float: center; */
            /* float: right; */
            /* margin-top: 15px;
            width: 20%;
            height: 20%;
            border: solid 1px red;
        }
    

    } */

/*----------------------------GIFFY PAGE----------------------------------------*/





/*----------------------------YOUTUBE SHORTS----------------------------------------*/






/*--------------------------------CHARACTER PAGE------------------------------------*/